.activeLink {
  background: #19ABE3 !important;
  width: 171px !important;
  height: 68px !important;
  z-index: 99 !important;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background: #4ab449 !important;
  width: 171.5px !important;
  height: 68px !important;
  z-index: 99 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active:nth-child(1) {
  border-right: none;
}
.active:nth-child(2) {
  border-right: none;
}
.active:nth-child(3) {
  border-right: none;
}

@media only screen and (max-width: 1024px) {
  .activeLink {
    width: 138px !important;
  }

  .active {
    width: 139px !important;
  }
}
@media only screen and (max-width: 768px) {
  .activeLink {
    width: 180px !important;
  }

  .active {
    background: transparent !important;
    width: 178px !important;
    height: 68px !important;
    z-index: 99 !important;
  }
  .astChild {
    border-right: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .activeLink,
  .active {
    width: 90px !important;
    height: 50px !important;
  }
  .activeLink {
    border: none;
    width: 85px !important;
  }
  .activeLink {
    width: 85px !important;
  }

  .active {
    width: 85px !important;
  }
}

@media only screen and (max-width: 375px) {
  .active {
    width: 80px !important;
  }
}
