
.passwordForm input{
    width: 390px;
    height: 45px;
    border: 1px solid #4AB449;
    border-radius: 3px;
    margin: 10px 0;
    padding-left:5px;
}
.passwordCard{
    width:600px;
    height:400px;
    padding:50px 110px;
    border-radius:10px;
    box-shadow: #4AB449 0px 3px 8px;
    text-align: center;
    
}

@media only screen and (max-width:500px){
    .passwordCard{
        width:100%;
        padding:20px;
        margin:0 20px;
        height:auto;
        
    }
    .passwordForm input{
        width:100%;
    }

}