.cancelWrap{
     width:100%;
     text-align: center;
     padding-bottom:50px;
     padding-top:0px;
}
.cancelPolicy{
     display: flex;
    margin: 5px 0px;
    justify-content: center;
}
.cancelBtn button{
     background: #4AB449;
     font-size: 14px;
     width: 250px;
     margin-top: 20px;
     color: white;
     height: 45px;
     border-radius: 25px;
}
.cancelImg{
     text-align: center;
    display: flex;
    justify-content: center;
}