.visaRequirment{
    width:100%;
}
.visaRequirmentImg{
    height:400px;
    width:100%;
}
.requireImg{
    width:100%;
    height:100%;
    object-fit: cover;
}
.checkIcon{
    font-size: 20px !important;
    color:#4AB449 !important;
    margin-right:5px;
    margin-bottom:20px !important;
}

.accordionSummary{
    background-color: #E6F8FF !important;
    padding:0 15px !important;
   
}
.accordionTypo{
    font-size: 16px !important;
}
.accordionIcon{
    color:black !important;
    font-size: 25px !important;
}