.phoneNumber{
    width: 50%;
    border: 1px solid #4AB449;
    border-radius: 5px;
    margin-top: 19px;
    height: 33px;
    padding-left: 5px;
}
.phoneNumber::placeholder{
    color: black !important;
}
.continoueBtn{
    transition:all .5s ease-in-out;
    width: 100px;
    height: 32px;
    border-radius: 20px;
    font-size: 14px;
    border:1px solid #4AB449;
}
.continoueBtn:hover{
    background: #4AB449;    
    color: white;
}
.conditonIcon{
    color: #4AB449 !important;
    font-size: 30px !important;
}
.boardingSelect{
    border: 1px solid #4AB449;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;;
}