.refund{
     padding-bottom:20px;
}
.refund ul{
     margin:0;
     padding:0;
}
.refund ul li{
     list-style-type: disc;
    margin-left:20px;
}
.flight li{
     list-style-type: disc !important;
     margin-left:20px;
}