.profileTop {
  width: 100%;
}
.pages {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages button {
  background: #4AB449;
  padding: 5px 10px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.pages span {
  margin-right: 5px;
  margin-left: 5px;
}
.formWrap {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.formWrap input {
  width: 400px !important;
}

.globalProfile p {
  font-size: 12px;
}
.profileMiddle {
  height: 100%;
  color: #fff;
}
.userInfo {
  display: flex;
}
.userInfo li {
  margin-bottom: 15px;
  font-size: 14px;
}
.userLeftInfo {
  margin-right: 80px;
}
.tableWrap {
  border-collapse: collapse;
  width: 100%;
}
.tableWrap th {
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 10px;
  height: auto;
}
.tableWrap td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 10px;
  height: auto;
}

.transitionInfo,
.bankListInfo,
.passengerInfo,
.companyInfo,
.paymentInfo,
.profileInfo,
.returnChangeBookInfo,
.flightRightSide {
  width: 100%;
}

/* flight styling */
.flightHistory {
  background: white;
  width: 100%;
  height: 100%;
}

/* payment styling  */

.paymentBtn {
  background: #4AB449;
  padding: 5px 10px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.payment {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment button {
  background: #4AB449;
  padding: 5px 10px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.payment span {
  margin-right: 5px;
  margin-left: 5px;
}
.paymentBtn {
  background: #26ade2 !important;
  margin-right: 10px;
}
.paymentPage {
  background: #cfe4f4;
  padding: 5px;
  margin: 0px 5px;
}

/* transaction styling */

.transaction {
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transaction button {
  background: #4AB449;
  padding: 5px 10px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.transaction span {
  margin-right: 10px;
  margin-left: 10px;
}

/* passenger styling  */
.passenger {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.passenger button {
  background: #4AB449;
  padding: 5px 10px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.passenger span {
  margin-right: 10px;
  margin-left: 10px;
}
