.delete{
     position: absolute;
     left: 38.06%;
     right: 18.19%;
     top: 56.46%;
     bottom: 7.03%;


}
.deleteText{
     width: 638px;
     height: 105px;
     left: 562px;
     top: 973px;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 36px;
     display: flex;
     align-items: center;
     text-align: center;
     color: #092E3D;
}
.deleteBtn{
width: 350px;
height: 53px;
margin-top:30px;
margin-left:145px;
background: #26ADE2;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 5px;
color:white;
}