.changePassWrap {
    display: flex;
    justify-content: center;
 
  }
  .changePassInputWrap{
    width:800px;
  }
  .updatedPassword {
    margin-top: 20px;
  }
  .updatedPassword button {
    background: #26ade2;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    width: 250px;
    height: 45px;
  }

  