.purchasWrap{
    width:800px;
    margin:0 auto;
    padding:30px;
}
.passengerInforWrap{
    display: flex;
    margin-top:20px;
    justify-content: space-between;
    align-items: center;
}
.journyDetails{
    box-shadow: #4AB449 0px 5px 15px;
    padding:20px;
    margin-bottom:10px;
}
.journyDetails small{
    display: block;
    margin-bottom:10px;
}
.passengerInfoRightSide label{
    display: block;
}
.passengerInfoRightSide input, .passengerInfoRightSide select{
    border: 1px solid #4AB449;
    border-radius: 5px;
    width: 299px;
    height: 35px;
    padding-left:5px;

}
.confirmBtn{
    background-color: #4AB449;
    width: 300px;
    height: 35px;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;

}
.paymentTabsWrap{
    border:1px solid #4AB449 !important;
}

@media only screen and (max-width:768px){
    .purchasWrap{
        width:100%;
    }
    .passengerInforWrap{
        display: block;
    }
}